/* Skybert's Marp theme. */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

a {
  text-decoration: none;
  color: #141a5b;
}

a:hover {
  color: red;
}

section  {
  font-family: 'Poppins', sans-serif;
  color: black;
  background: white;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  font-size: 1.5em;
}

code {
  font-size: 1.5em;
  background: black;
  color: white;
  padding: 0.1em;
}

pre code {
  font-size: 1em;
  color: black;
  background: white;
}

/** Quotes **/
blockquote p:before, blockquote p:after {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 48px;
  font-size: 50px;
  opacity: .2;
}

blockquote p:before {
  content: '\201C';
  margin-right: 4px;
  margin-left: -8px;
}

blockquote p:after {
  content: '\201D';
  margin-left: 4px;
  margin-right: -8px;
}
/** Quotes end **/

/** Code syntax highlighting **/
.hljs-comment, .hljs-meta {
  color: #969896
}
.hljs-emphasis, .hljs-quote, .hljs-string, .hljs-strong .hljs-template-variable .hljs-variable {
  color: #df5000
}
.hljs-keyword, .hljs-selector-tag, .hljs-type{
  color: #a71d5d
}
.hljs-attribute, .hljs-bullet, .hljs-literal, .hljs-symbol {
  color: #0086b3
}
.hljs-name, .hljs-section {
  color: #63a35c
}
.hljs-tag{
  color: #333
}
.hljs-attr, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id, .hljs-selector-pseudo, .hljs-title {
  color: #795da3
}
.hljs-addition {
  color: #55a532;
  background-color: #eaffea
}
.hljs-deletion{
  color: #bd2c00;
  background-color: #ffecec
}
.hljs-link{
  text-decoration:underline
}
